.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}
.main_content{
  font-size: 24px;
  font-weight: bold;
}
.content{
 font-size: 24px;
  font-weight: bold;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 10px;

}
.nav{
  display: inline;
  float: right;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  text-align: right;
  font-size: 15px;
}
.header{
  font-size: 26px;
  font-weight: bold;
  border-bottom: 22px;
  border-color: black;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav_head{
  font-size: 14pt;
  font-weight: bold;
  color: lightblue;

}
.nav_items{
  color: lightblue;
}